
  <h3>Matches:</h3>
  <div class="row">
    <% current_user.matches.each do |match| %>
      <div class="col">
          <div class="card" style="width: 15.5rem;">
              <%= render partial: "shared/avatar", locals: {object: match}%>
              <div class="card-body">
                <h5 class="card-title"><%= link_to match.name,user_path(match)  %></h5>
                <p class="card-text"><%= match.location %></p>
              </div>
            </div>
        </div>
    <% end %>
  </div>
