    <nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-end pr-5 " style="background-color: lightgray;" >
              <ul class="navbar-nav ">
                    <li class="nav-item">
                    <%= link_to "SIGN UP", signup_path ,class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                    <%= link_to "LOGIN", login_path  ,class:"nav-link"%>
                    </li>
              </ul>
    </nav>