// Place all the styles related to the matchmaker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.card{
    margin: 15px;
    padding: 2px;
}

ul.filter_commands{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: inline-flex;
}

.carousel-inner.justify-content-lg-center{
    width: 100%;
}

img.d-block.w-100 {
    height: 45em;
}

.carousel-caption.d-none.d-md-block.bg-info.text-white-50.bg-dark {
    width: 40m;
}

div#carouselExampleFade justify-content-sm-center{
    width: 100%;
}