// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div.container{
//     -webkit-box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
// box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
// }

div.message_nav{
    overflow: hidden;
    width: 100%;
}

div.message_window{
    border: 2px solid black; 
    padding: 10px; 
    margin: 30px;
    background-color: ghostwhite;
}

span.message_date{
    font-size: 50%;
}

span.message_sender{
    font-size: 150%;
}

p.no_match {
    font-size: 300%;
    text-align: -webkit-center;
}

div.row.no_match {
    margin: auto;
    width: fit-content;
    padding: 10px;
}

p.edit_warn{
    font-size: 120%;
    text-align: center;
}

textarea#message_content {
    width: 100%;
    height: 300px;
}

input#message_content {
    width: 70%;
}

div.custom_card{
    padding: 5px
}

.shadow-lg.p-3.mb-5.bg-white.rounded.profile {
    text-align: center;
}

p.profile_info {
    font-family: sans-serif;
    font-size: larger;
    margin-top: 1em;
}